<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" href="./styles//index.css">

    <title>Doctus</title>
</head>
<body>
    <nav>
        <div class="sidebar-top">
          <span class="shrink-btn">
            <i class='bx bx-chevron-left'></i>
          </span>
          <img src="./img/logo.png" class="logo" alt="">
          <h3 class="hide">.Doctus</h3>
        </div>
    
        <div class="search">
          <i class='bx bx-search'></i>
          <input type="text" class="hide" placeholder="Search ...">
        </div>
    
        <div class="sidebar-links">
          <ul>
            <div class="active-tab"></div>
            <li class="tooltip-element" data-tooltip="0">
              <a href="#" class="active" data-active="0">
                <div class="icon">
                  <i class='bx bx-tachometer'></i>
                  <i class='bx bxs-tachometer'></i>
                </div>
                <span class="link hide">Dashboard</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="1">
              <a href="#" data-active="1">
                <div class="icon">
                  <i class='bx bx-folder'></i>
                  <i class='bx bxs-folder'></i>
                </div>
                <span class="btn-add-history link hide">Historia Medica</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="2">
              <a href="#" data-active="2">
                <div class="icon">
                  <i class='bx bx-message-square-detail'></i>
                  <i class='bx bxs-message-square-detail'></i>
                </div>
                <span class="link hide">Pacientes</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="3">
              <a href="#" data-active="3">
                <div class="icon">
                  <i class='bx bx-bar-chart-square'></i>
                  <i class='bx bxs-bar-chart-square'></i>
                </div>
                <span class="link hide">Panel de acceso</span>
              </a>
            </li>
        
          </ul>
    
          <h4 class="hide">Shortcuts</h4>
    
          <ul>
            <li class="tooltip-element" data-tooltip="0">
              <a href="#" data-active="4">
                <div class="icon">
                  <i class='bx bx-notepad'></i>
                  <i class='bx bxs-notepad'></i>
                </div>
                <span class="link hide">Tasks</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="1">
              <a href="#" data-active="5">
                <div class="icon">
                  <i class='bx bx-help-circle'></i>
                  <i class='bx bxs-help-circle'></i>
                </div>
                <span class="link hide">Help</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="2">
              <a href="#" data-active="6">
                <div class="icon">
                  <i class='bx bx-cog'></i>
                  <i class='bx bxs-cog'></i>
                </div>
                <span class="link hide">Settings</span>
              </a>
            </li>
            <div class="tooltip">
              <span class="show">Tasks</span>
              <span>Help</span>
              <span>Settings</span>
            </div>
          </ul>
        </div>
    
        <div class="sidebar-footer">
          <a href="#" class="account tooltip-element" data-tooltip="0">
            <i class='bx bx-user'></i>
          </a>
          <div class="admin-user tooltip-element" data-tooltip="1">
            <div class="admin-profile hide">
              <img src="./img/face-1.png" alt="">
              <div class="admin-info">
                <h3>Dra Oscarina Rodriguez</h3>
                <h5>Internista</h5>
              </div>
            </div>
            <a href="#" class="log-out">
              <i class='bx bx-log-out'></i>
            </a>
          </div>
          <div class="tooltip">
            <span class="show">John Doe</span>
            <span>Logout</span>
          </div>
        </div>
      </nav>
    
    
      <main>
        <!--Step 1 panel de Accesos-->
        <div class="panelAcceso">
          <h1>My Dashboard</h1>
          <hr>

          <button class="btn btn-primary">Añadir</button>
          <div class="container my-5"> 
            <div class="shadow-4 rounded-5 overflow-hidden">
              <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>Name</th>
                    <th>Especialidad</th>
                    <th>Status</th>
                    <th>Area</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                             src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                             alt=""
                             style="width: 45px; height: 45px"
                             class="rounded-circle"
                             />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">John Doe</p>
                          <p class="text-muted mb-0">john.doe@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-bold mb-1">Cardiologo</p>
                      <p class="text-muted mb-0">IT department</p>
                    </td>
                    <td>
                      <span class="btn btn-success rounded-pill">Active</span>
                    </td>
                    <td>Cardiologia</td>
                    <td>
                      <button type="button" class="btn btn-link btn-sm btn-rounded">
                        Edit
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                             src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                             class="rounded-circle"
                             alt=""
                             style="width: 45px; height: 45px"
                             />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Alex Ray</p>
                          <p class="text-muted mb-0">alex.ray@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Internista</p>
                      <p class="text-muted mb-0">Finance</p>
                    </td>
                    <td>
                      <span class="btn btn-primary rounded-pill">waiting</span>
                    </td>
                    <td>Emergencia</td>
                    <td>
                      <button
                              type="button"
                              class="btn btn-link btn-rounded btn-sm fw-bold"
                              data-mdb-ripple-color="dark"
                              >
                        Edit
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                             src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                             class="rounded-circle"
                             alt=""
                             style="width: 45px; height: 45px"
                             />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Kate Hunington</p>
                          <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Ginecologo</p>
                     
                    </td>
                    <td>
                      <span class="btn btn-danger rounded-pill">disabled</span>
                    </td>
                    <td>Ginecologia</td>
                    <td>
                      <button
                              type="button"
                              class="btn btn-link btn-rounded btn-sm fw-bold"
                              data-mdb-ripple-color="dark"
                              >
                        Edit
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
       
        <!--Step 2 Pacientes-->
        <div class="pacientes">
          <h1>Pacientes</h1>
          <hr>
          
          <button class="btn btn-primary">Añadir</button>
          <div class="container my-5"> 
            <div class="shadow-4 rounded-5 overflow-hidden">
              <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>Name</th>
                    <th>Especialidad</th>
                    <th>Status</th>
                    <th>Area</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                             src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                             alt=""
                             style="width: 45px; height: 45px"
                             class="rounded-circle"
                             />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">John Doe</p>
                          <p class="text-muted mb-0">john.doe@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-bold mb-1">Cardiologo</p>
                      <p class="text-muted mb-0">IT department</p>
                    </td>
                    <td>
                      <span class="btn btn-success rounded-pill">Active</span>
                    </td>
                    <td>Cardiologia</td>
                    <td>
                      <button type="button" class="btn btn-link btn-sm btn-rounded">
                        Edit
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                             src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                             class="rounded-circle"
                             alt=""
                             style="width: 45px; height: 45px"
                             />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Alex Ray</p>
                          <p class="text-muted mb-0">alex.ray@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Internista</p>
                      <p class="text-muted mb-0">Finance</p>
                    </td>
                    <td>
                      <span class="btn btn-primary rounded-pill">waiting</span>
                    </td>
                    <td>Emergencia</td>
                    <td>
                      <button
                              type="button"
                              class="btn btn-link btn-rounded btn-sm fw-bold"
                              data-mdb-ripple-color="dark"
                              >
                        Edit
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                             src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                             class="rounded-circle"
                             alt=""
                             style="width: 45px; height: 45px"
                             />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Kate Hunington</p>
                          <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Ginecologo</p>
                     
                    </td>
                    <td>
                      <span class="btn btn-danger rounded-pill">disabled</span>
                    </td>
                    <td>Ginecologia</td>
                    <td>
                      <button
                              type="button"
                              class="btn btn-link btn-rounded btn-sm fw-bold"
                              data-mdb-ripple-color="dark"
                              >
                        Edit
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <p class="copyright">
          &copy; 2023 - <span>Doctus</span> All Rights Reserved.
        </p>
      </main>

     
    
      <script src="./js/app.js"></script>
</body>
</html>